@font-face {
    font-family: 'AvenirMedium';
    src: url('AvenirMedium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirDemi';
    src: url('AvenirNextRoundedStd-Demi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirBold';
    src: url('AvenirNextRoundedStd-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html, a{
    color: white;
}
html, a{
    font-family: AvenirMedium;
}
h2{
    font-family:AvenirDemi;
}
h1{
    font-family: AvenirBold;
}
body{
    background-color: #3B2400;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
header{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #E4941B;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    left: 4vmin;
    right: 4vmin;
    border: 3px solid white;
    z-index: 100;
}
.spacer{
    flex-grow: 1;
}

/* From Uiverse.io by PhyoTP 
.label-check {
    display: none;
}
 

.hamburger-label {
    border: none;
    background-color: #E4941B;
    width: 5vw;
    height: 5vh;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}
 
.hamburger-label div {
    width: 5vw;
    height: 1vh;
    background-color: #fff;
    position: absolute;
}
 
.line1 {
    transition: all 0.3s;
}
  
.line2 {
    margin: 2vmin 0 0 0;
    transition: 0.3s;
}
  
.line3 {
    margin: 4vmin 0 0 0;
    transition: 0.3s;
}
  
#label-check:checked + .hamburger-label .line1 {
    transform: rotate(35deg) scaleX(0.55) translate(3.9vmin, -4.5px);
    border-radius: 50px 50px 50px 0;
}
  
#label-check:checked + .hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(0.55) translate(3.9vmin, 4.5px);
    border-radius: 0 50px 50px 50px;
}
  
#label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 4.5vw;
}
#label-check:checked + .hamburger-label {
    transform: rotate(90deg);
    position: relative;
    top: 0;
    right: 0.5vw;
}*/
nav{
    display: flex;
    justify-content: space-evenly;
    width:20vw;
}
nav a{
    background-color: #E4941B;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    border: 5px solid white;
    transition: all 0.5s;
}
nav a:hover{
    color: #E4941B;
    background-color: white;
}
.stuff {
    background-color: #E4941B;
    border-radius: 10px;
    padding:1vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    text-decoration: none;  /* To remove the underline */
    color: white;  /* Change text color */
    display: flex;  /* Ensures padding and background apply */
    margin: 3vh;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
td {
    text-align: center;
    border: 1px solid white;
}
#icon{
    height: 8vh;
    width: 8vh;
    border-radius: 10vh;
    border: 5px solid #fff;
    margin: 1rem;
}